body {
  background-color: skyblue;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Bacasime Antique", serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: aliceblue;
}

nav ul li {
  padding: 0 100px;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 72vh;
  background-color: black;
  color: black;
  font-family: "Bacasime Antique", serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 15px;
  padding: 34px;
  background-image: url("kk2.jpg");
}

.bottom {
  position: sticky;
  height: 130px;
  background-color: aliceblue;
  color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 14px;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 74px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: aquamarine;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.songItem img {
  width: 43px;
  margin: 0 23px;
}

.timestamp {
  margin: 0 23px;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 137px;
  font-family: "Varela Round", sans-serif;
}

.songInfo img {
  width: 80px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

#masterPlay {
  cursor: pointer;
}

#previousPlay {
  cursor: pointer;
}

#forwardPlay {
  cursor: pointer;
}
